.center {
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}
.title {
  font-size: 4em;
  color: #2e2e2e;
  margin:0 0 0em 0;
}

.description {
  font-size: 1.5em;
  color: #2e2e2e;
  margin: 1em 0 0 0;
}

.button {
  background: #2e2e2e;
  color: #fff;
  border: none;
  padding: 1em 2em;
  font-size: 1em;
  margin: 1em 0 0 0;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 300px;
  border-radius: 5px;
}